.nominations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nominations_title {
    margin-top: 6rem;
    margin-bottom: 4rem;
    font-size: 2rem;
}

.table {
    border: 2px solid forestgreen;
    border-spacing: 3rem;
    width: 80vw;
    table-layout: fixed;
    background-color: rgb(161, 185, 223);

}

.table_headings_row th {
    border-bottom: 1px solid rgb(34, 139, 34);
    text-align: center;
    font-size: 1.3rem;
}

.table_body_row td {
    border-bottom: 1px solid rgb(146, 236, 158);
    text-align: center;
    font-size: 1.3rem;
    overflow-wrap: break-word;

}

.email_column {
    width: 20%;
}

.description_column {
    width: 37.5%;
}

.involvement_column {
    width: 12.5%;
}

.talent_column {
    width: 8%;
}

.status_column {
    max-width: 7%;
}

.date_column {
    max-width: 15%;
}