.create_nomination_page {
    height: 100vh;
    width: 100%;
    background-color: rgb(161, 185, 223);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.create_nominations_form {
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    background-color: rgb(161, 185, 223);
}

.input_email_container {
    display: flex;
    flex-direction: column;
}


.input_email,
.input_description {
    width: 25rem;
    height: 2rem;
    background: #fffcfc;
    outline: none;
    opacity: 0.6;
    overflow: hidden;
    font-size: 1rem;
    border: 1px solid black;
}

.input_email:hover,
.input_description:hover {
    opacity: 1;
}

.input_description {
    height: 10rem;
}

.input_talent_container,
.input_involvement_container {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.slider_label {
    font-size: 1.5rem;
}

.input_submit {
    height: 3rem;
    width: 15rem;
    font-size: 1.2rem;
}

.form_error {
    font-size: 1rem;
    color: red;
}

.nomination_alert_succed {
    font-size: 1.3rem;
    color: green;
}

.nominatin_alert_failed {
    font-size: 1.3rem;
    color: red;
}